<h2>Edit profile</h2>
<% if !@user.avatar.blank? %>
		<p>Profile Photo</p>
		<p><%= image_tag @user.avatar.url(:medium) %></p>
<% end %>

<%= form_for @user do |f| %>

	<div class="control-group">
		<%= f.label :avatar, "Upload a profile photo" %>
		<%= f.file_field :avatar %>
	</div>

	<div class="control-group">
		<%= f.label :password, "Change Password" %>
		<%= f.password_field :password %>
	</div>

	<div class="control-group">
		<%= f.label :email, "Change Email address" %>
		<%= f.text_field :email %>
	</div>
	<%= f.submit "Update profile" %>
<% end %>