<div class="footer">
	<div class="container">
		<br\>
		<div class="col-md-3">
			<h4>COMPANY</h4>
			<p><%= link_to "About", 'about_path' %></p>
			<p><%= link_to "Contact", 'contact_path' %></p>
		</div>

		<div class="col-md-3">
			<h4>WHAT WE OFFER</h4>
			<p><%= link_to "Treatments", treatments_path %></p>
			<p><%= link_to "Blog", 'blog_path' %></p>
		</div>

		<div class="col-md-3">
			<h4>MY ACCOUNT</h4>
			<p><%= link_to "Join now", register_path %></p>
			<p><%= link_to "Sign in", login_path %></p>
		</div>

		<div class="col-md-3">
			FACEBOOK
	</div>
	</div>
	<span style="text-align:center;"><h6>Copyright 2014 Healthtulip.  All rights reserved. </h6></span>
</div>